@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    width: 78px;
    height: 100%;
    background: #11101d;
    transition: all 0.5s ease;
    
}

.menu--active {
    width: 240px;
}

.menu--active .logo{
    opacity: 1;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
} 

.logo__img {
    font-size: 28px;
    margin-right: 5px;
}

.logo__img {
    font: bold 20px;
}

#btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 28px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.menu--active #btn {
    left: 88%;
}

.menu__list {
    margin-top: 20px;
}

.menu__item {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.menu__link {
    display: flex;
    align-items: center;
    color:#fff;
    border-radius: 12px;
    white-space: nowrap; /*El texto nunca pasa a la siguiente linea hasta que encuentra una <br>*/
    transition: all 0.4s ease;
}
.menu__link:hover{
    color: #11101d;
    background: #fff;
}

.menu__icon {
    min-width: 50px;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.menu__text {
    opacity: 0;
    pointer-events: none; /*Anula el efecto del cursor y por lo tanto el hover*/
    transition: all 0.5s ease;
}

.menu--active .menu__text {
    opacity: 1;
    pointer-events: auto; /*Activa el cursor y por lo tanto el hover*/
}

.menu__tooltip {
    position: absolute;
    top:50%;
    left: 122px;
    width: 122px;
    height: 35px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    line-height: 35px;
    text-align: center;
    pointer-events: none; /*Anular evento del puntero*/
    transform: translate(-50%, -50%); /*Acercar el tooltip*/
    transition: 0s;
    display: block;
}

.menu--active .menu__tooltip {
    display: none;
}

.menu__item:hover .menu__tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.menu__search {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    color: #fff;
    border: none;
    border-radius: 12px;
    outline: none;
    background: #1d1b31;
    font-size: 18px;
}

.menu__icon--search {
    position: absolute;
    z-index: 99;
    color: #fff;
    transition: all 0.5s ease;
}

.menu__icon--search:hover{
    background: #fff;
    color:#1d1b31;
}


/*Usando position absolute ubicarlo de último*/
.profile-container {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    padding: 10px 6px;
    background: none;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.menu--active .profile {
    opacity: 1;
    pointer-events: auto;
    background-color: #1d1b31;
}
/*
https://www.youtube.com/watch?v=wEfaoAa99XY
17:21*/
.profile__avatar {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile__details{
    margin-left: 10px;
}


.profile__name {
    font-size: 15px;
    font-weight: 400;
}

.profile__job {
    font-size: 12px;
}

.profile__logout{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s ease;
    background-color: #1d1b31;
}

.menu--active .profile__logout {
    left: 88%;
    background-color: none;
}

.home__content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home__text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.menu--active ~ .home__content{
    width: calc(100% - 240px);
    left: 240px;;
}